{% extends 'index.html' %}
{% load static %}

{% block content %}
<section>
    <article>
        <h1>Make a reservation</h1>
        <!--Begin row-->
        <div class="row">
            <!--Begin col-->
            <div class="column">
                {% csrf_token %}
                <form method="POST" id="form">
                    <!-- {% csrf_token %} -->
                    <p>
                        <label for="name">Name:</label>
                        <input type="text" placeholder="Your Name" maxlength="200" required="" id="name">
                    </p>
                    <p>
                        <!-- Step 9: Part one -->
                        <label for="bookingdate">Reservation date:</label>
                        <input type="date" id="bookingdate">
                    </p>
                    <p>
                        <label for="no_of_guest">Number of Guest:</label>
                        <input type="number" placeholder="Number of Guest" min="1" max="10" required=""
                            id="no_of_guest">
                    </p>
                    <button type="button" id="button" class="reserveButton">Reserve</button>
                </form>
            </div>
            <!--End col-->
        </div>
        <!--End row-->
    </article>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    const reserveButton = document.getElementById("button");


    reserveButton.addEventListener("click", function (e) {
        e.preventDefault();
        const date = new Date();
        document.getElementById("bookingdate").value = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, "0")}-${date.getDate().toString().padStart(2, "0")}`;
        const formdata = {
            name: document.getElementById("name").value,
            bookingdate: document.getElementById("bookingdate").value,
            no_of_guest: document.getElementById("no_of_guest").value,
        };
        // validar que el formulario no esté vacío
        if (formdata.name === "" || formdata.bookingdate === "" || formdata.no_of_guest === "") {
            Swal.fire({
                title: 'Error!',
                text: 'Please fill in all fields.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return;
        }

        fetch("{% url 'book' %}", {
            method: "post",
            body: JSON.stringify(formdata),
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value
            },
        }).then((response) => {
            console.log("http response" + response.status); // Esto mostrará el código de estado HTTP
            if (response.ok) {
                // Si la respuesta es exitosa
                Swal.fire({
                    title: 'Success!',
                    text: 'Reservation successfully made.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                // Limpiar el formulario
                document.getElementById("form").reset();
            } else {
                // Si hay algún problema con la respuesta
                Swal.fire({
                    title: 'Error!',
                    text: 'There was a problem making the reservation. Please try again.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    });

    reserveButton.addEventListener("mousedown", function () {
        reserveButton.style.backgroundColor = "white";
        reserveButton.style.color = "#495e57";
    });

    reserveButton.addEventListener("mouseup", function () {
        reserveButton.style.backgroundColor = "#495e57";
        reserveButton.style.color = "white";
    });

    reserveButton.addEventListener("mouseout", function () {
        reserveButton.style.backgroundColor = "#495e57";
        reserveButton.style.color = "white";
    });
</script>
{% endblock %}